<section class="landing-home" id="home">
    <img class="img-fluid bg-img-cover" src="{{ asset('assets/images/landing/landing-home/home-bg.jpg') }}"
        alt="">
    <div class="container-fluid">
        <div class="row">
            <ul class="shape">
                <li><img class="img-fluid" src="{{ asset('assets/images/landing/landing-home/shape-1.png') }}"
                        alt=""></li>
                <li><img class="img-fluid" src="{{ asset('assets/images/landing/landing-home/shape-2.png') }}"
                        alt=""></li>
                <li><img class="img-fluid" src="{{ asset('assets/images/landing/landing-home/shape-3.png') }}"
                        alt=""></li>
            </ul>
            <div class="row">

                <div class="col-lg-6 animat-block">
                    <figure class="cd-image-container"><img
                            src="{{ asset('assets/images/landing/landing-home/03.png') }}"
                            alt="Original Image"><span class="cd-image-label" data-type="original"> </span>
                        <div class="cd-resize-img"><img
                                src="{{ asset('assets/images/landing/landing-home/02.png') }}"
                                alt="Modified Image"><span class="cd-image-label" data-type="modified"> </span>
                        </div><span class="cd-handle"></span>
                    </figure>
                </div>
                <div class="col-lg-6">
                    <div class="landing-home-contain">
                    
                            <h3 class="text-white">Revolutionize Your Recruitment Process</h3>
                            <p> Our Mission: At RecruitU, we simplify college recruitment. Our mission? To connect
                                coaches with the ideal athletes and vice versa. With our technology, coaches can
                                easily filter applications, sparing them from sifting through countless submissions.
                                As for aspiring athletes, forget about hunting down programs and filling out
                                multiple forms. With us, one click applies you to programs of your choice.</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>